@font-face { font-family: Dimitri; src: url('DIMITRI.TTF'); }
html{
  position:relative;
  height: 100%;
}
body {
  font-size: 18px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
/* -------------------------------------------------------------- header */
h1 {
  font-family: Dimitri;
  color: #6441a4;
  font-size: 5em;
}
/* -------------------------------------------------------------search section*/
.search_section {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* -------------------------------------------------------------- main */
.row {
  width: 100%;
  margin: auto;
}
.channel_frame {
  height: 350px;
  padding: 15px;
}
.padding_div {
  height: 100%;
  border: 1px solid black;
  position: relative;
}
.channel_banner {
  position: absolute;
  height: 170px;
  width: 100%;
  z-index: -1;
  background-image: url(https://web-cdn.ttvnw.net/images/xarth/bg_glitch_pattern.png);
}
.padding_div>h2 {
  position: relative;
  left: 10%;
  top: 30px;
  width: 90%;
}
.padding_div>p:nth-child(2) {
  text-align: right;
  padding: 15px;
  z-index: 1;
}
.padding_div>p:nth-child(5) {
  position: relative;
  left: 10%;
  top: 30px;
  width: 90%;
}
.logo_img {
  width: 96px;
  height: 96px;
  border: 1px solid black;
  position: relative;
  left: 10%;
  top: 30px;
}
/* -------------------------------------------------------------- footer */
.main_div {
  flex: 1;
}
footer {
  padding-top: 15px;
  height: 100px;
  text-align: center;
}
