@font-face { font-family: Dimitri; src: url('DIMITRI.TTF'); }
html{
  position:relative;
  height: 100%;
}
body {
  font-size: 18px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
* {
  border: 1px solid black;
}
/* -------------------------------------------------------------- header */
h1 {
  font-family: Dimitri;
  color: #6441a4;
  font-size: 5em;
}
/* -------------------------------------------------------------- main */
.row {
  width: 100%;
  margin: auto;
}
.channel_frame {
  border:4px solid red;
  height: 400px;
  padding: 15px;
}
.logo_img {
  width: 96px;
  height: 96px;
  border: 1px solid black;
  position: relative;
  top: 30px;
}
/* -------------------------------------------------------------- footer */
.main_div {
  flex: 1;
}
footer {
  padding-top: 15px;
  height: 100px;
  text-align: center;
}
